[submodule "addons/git-vim"]
	path = addons/git-vim
	url = git://github.com/motemen/git-vim.git
[submodule "addons/neocomplcache"]
	path = addons/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "addons/nerdtree"]
	path = addons/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "addons/surround"]
	path = addons/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "addons/supertab"]
	path = addons/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "addons/bufexplorer"]
	path = addons/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "addons/nerdcommenter"]
	path = addons/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "addons/vim-markdown"]
	path = addons/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "addons/IndentAnything"]
	path = addons/IndentAnything
	url = git://github.com/vim-scripts/IndentAnything.git
[submodule "taglist.vim"]
	path = taglist.vim
	url = git://github.com/vim-scripts/taglist.vim
[submodule "addons/taglist"]
	path = addons/taglist
	url = git://github.com/vim-scripts/taglist.vim
[submodule "addons/python.vim"]
	path = addons/python.vim
	url = git://github.com/vim-scripts/python.vim.git
[submodule "addons/vim-autocomplpop"]
	path = addons/vim-autocomplpop
	url = git://github.com/vim-scripts/AutoComplPop.git
[submodule "addons/tasklist"]
	path = addons/tasklist
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "addons/vim-colors-solarized"]
	path = addons/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "addons/vim-template"]
	path = addons/vim-template
	url = git://github.com/hotoo/template.vim.git
[submodule "addons/conque"]
	path = addons/conque
	url = git://github.com/rosenfeld/conque-term.git
[submodule "addons/repeat"]
	path = addons/repeat
	url = git://github.com/vim-scripts/repeat.vim.git
[submodule "addons/drawit"]
	path = addons/drawit
	url = git://github.com/vim-scripts/DrawIt.git
[submodule "addons/vim-powerline"]
	path = addons/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "addons/fugitive"]
	path = addons/fugitive
	url = git://github.com/tpope/vim-fugitive.git
